@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');

body {
  margin: 0;
  font-family: 'Fira Code';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text{
  font-family: 'Fira Code';
  color: white;
}

.parent {
  position: relative;
  bottom: 0;
  right: 0;
}
.image1 {
  position: relative;
  bottom: 30px;
  right: 30px;
}
.image2 {
  position: absolute;
  bottom: 0;
  right: 0;
}
.image3 {
  position: absolute;
  bottom: -30px;
  right: -30px;
}

::placeholder{
  text-align: start;
}

:placeholder-shown{
  color: white;
}

.nftdisplaypage{
  background-color: #19323C;
  font-family: 'Fira Code';
  padding: 80px;
}